body {
font-family: 'Markazi Text', serif;
font-size: 150%;
background-image: url("Coding.jpg");
color:hotpink;

}

.wrapper {
    margin: 100px auto 0 auto 0;
    max-width: 600px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}
a {
    color: hotpink;
    transition: color 0.01s;

}

a:hover {
    color: #505059;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-family: 'Markazi Text', serif;
    color:hotpink;
    background-color:#2d2d3b;
    font-size: 100%;
   
}
button:hover {
    background-color:#2d2d3b;
}

.answers {
    display: block;
}

input[type="text"] {
    font-size: 100%;
    background-color: hotpink;
}

ol{
padding-left: 0px;
max-height: 400px;
overflow: auto;
}

li {
    padding: 5px;
}

li:nth-child(odd) {
    background-color:#2d2d3b;
}
